<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title><%=title %></title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/blog.css" rel="stylesheet">
	</head>
	<body>
		<%# The menu/navigation bar %>
		<div class="blog-masthead">
			<div class="container">
				<nav class="nav blog-nav">
					<% for(var i of menu_items){%>
					<a class="nav-link<%- i.name==current_menu_item?" active":""; %>" href="<%-i.url;%>">
						<%= i.name;%>
					</a>
					<% }%>
				</nav>
			</div>
		</div>
		<div class="blog-header">
			<div class="container">
			<h1 class="blog-title">Test Blog!</h1>
			<p class="lead blog-description">Bla bla bla meep meep meep meep meep</p>
			</div>
		</div>
		<div class="container">
		<div class="row">
		<div class="col-sm-8 blog-main">
			<% for(var i of articles){ %>
				<div class="blog-post">
				<h2 class="blog-post-title"><%-i.title%></h2>
				<p><%-i.body;%></p>
				</div>
			<% } %>
		</div>
		<div class="col-sm-3 offset-sm-1 blog-sidebar">
			<div class="sidebar-module sidebar-module-insert">
			<h4>About</h4>
			<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
			</div>
			<div class="sidebar-module">
			<h4>Elsewhere</h4>
			<ol class="list-unstyled">
				<li><a href="#">GitHub</a></li>
				<li><a href="#">GitHub</a></li>
				<li><a href="#">GitHub</a></li>
			</ol>
			</div>
		</div>
		</div>
		</div>
